<h1><span class="icon-gear"></span>Settings<button class="panel-close" onclick="$('.panel-menu').fadeOut();">&times;</button></h1>
<div class="settings">
	<form>
	<fieldset>
		<legend>issue tracking</legend>
		<div><label for="issue_url">issue url</label><input id="issue_url" type="text" name="red_url" value="{{red_url}}"><span class="icon-question" id="issue-question"></span></div>
	</fieldset>
	</form>
</div>

