<div class="settings">
	<fieldset>
		<legend>Redmine</legend>
		<div>
			<label for="red_url">url</label><input id="red_url" type="text" name="red_url" value="{{red_url}}">
		</div>
		<div>
			<label for="red_key">api key</label><input id="red_key" type="text" name="red_key" value="{{red_key}}">
		</div>
	</fieldset>
</div>
<button class="panel-close" onclick="$(this).parent().fadeOut();">&times;</button>
