
<ul class="history_list">
	{{#each urls}}
	<li class="history_url"><a href="javascript:mobi.go('{{this}}');">{{this}}</a></li>
	{{/each}}
</ul>
<button class="panel-close" onclick="$(this).parent().fadeOut();">&times;</button>

