
<h1>enter page</h1>
<h2>keys</h2>
<h3><span>user:</span>{{keys.user}}</h3>
<p>This is your user key.  It is used to link up one account to many computers/devices.  Instead of using logins/passwords we use a key system and user accounts linked into google+.  This method enables us to provice an idea where we assume you are a developer who logs into a machine with a username/password. Then we assume you have a gmail account. Which can be linked to and provides better security than we could ever develop.  It's Google, and they have way better minds thinking about that kinda stuff.</p>
<h3><span>team:</span>{{keys.team}}</h3>
<p>This is your team key.  It is used to link several accounts into one, so that various projects and cards can be shared across teams.</p>

